out/
*.swp

.idea/*
.idea/libraries/lib.xml

.idea/libraries/lib.xml

data/cateProcessor.py

data/vectorNN.tab.gz

data/netaporter.tar.gz

data/netaporter/*

www/img_clothes

data/images

lib/stanford-corenlp-models-current.jar
